<section  class="contenido">
    <section class="contizq">
        <article class="artizq">
            <a class="" href="face.html" target="_blank">
                <img src="../../../publico/facebook.jpeg" alt="Facebook" style="width: 70px;">
            </a>
        </article>
        <article class="artizq">
            <a class="" href="insta.html" target="_blank">
                <img src="publico/instagram.jpeg" alt="Instagram" style="width: 70px;">
              </a>
        </article>
        <article class="artizq">
            <a class="" href="whats.html" target="_blank">
                <img src="publico/whatsapp.jpeg" alt="Whatsapp" style="width: 90px;">
              </a>
        </article>
        <article class="artizq">
            <a class="" href="twit.html" target="_blank">
                <img src="publico/twiter.jpeg" alt="Twiter" style="width: 70px;">
              </a>
        </article>

    </section>
    <section class="contcent">
        <app-cabecera></app-cabecera>
    </section>
    <section class="contizq">
        <article class="artizq">
            <a class="" href="face.html" target="_blank">
                <img src="publico/facebook.jpeg" alt="Facebook" style="width: 70px;">
              </a>
        </article>
        <article class="artizq">
            <a class="" href="insta.html" target="_blank">
                <img src="publico/instagram.jpeg" alt="Instagram" style="width: 70px;">
              </a>
        </article>
        <article class="artizq">
            <a class="" href="whats.html" target="_blank">
                <img src="publico/whatsapp.jpeg" alt="Whatsapp" style="width: 90px;">
              </a>
        </article>
        <article class="artizq">
            <a class="" href="twit.html" target="_blank">
                <img src="publico/twiter.jpeg" alt="Twiter" style="width: 70px;">
              </a>
        </article>

    </section>   
</section>
